#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
}

.box {
    width: 80%;
    border: 20px solid mediumaquamarine;
    padding: 50px;
    margin: auto;
}

.button {
    background-color: mediumaquamarine;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

#gallery-img-container {
    margin-top: auto;
}
